*{
margin: 0px;
padding: 0px;    
}
#container{
    width: 1000px;
    margin: auto;
    height: auto;
    overflow: hidden;
}
#header{
    height: 100px;
    width: 100%;
    background: gray;
    border: 1px solid red;
}
#leftpane{
    height:400px;
    width: 25%;
    float: left;
    background: fuchsia;
    border: 1px solid red;
}
#rightpane{
    height: 400px;
    width: 24.5%;
    float: right;
    background: yellowgreen;
    border: 1 px solid red;
}
#main{
    float: left;
    height: 403px;
    width: 50%;
}
#prebody{
    text-align: center;
    height: 100px;
    width: 100%;
    float: left;
    background: lavenderblush;
    border: 1px solid red;
}
#content{
    height:200px;
    width: 100%;
    text-align: center;
    background: brown;
    border: 1px solid red;
    margin-top: 100px;
}
#postbody{
    height:100px;
    width: 100%;
    text-align: center;
    background: gainsboro;
    border: 1px solid red;
}
#footer{
    height: 100px;
    width: 99.5%;
    text-align: center;
    background: blue;
    border: 1px solid red;
    float: left;
}